<!-- <div style="display:flex;flex-wrap: wrap;">
<country [name]="'France'" [flag]="'./assets/lebanon.png'"></country>
<country [name]="'Iraq'" [flag]="'./assets/jordan.png'"></country>
<country></country>
<country></country>
<country></country>
<country></country>
<country></country>
<country></country>
<country></country>
</div> -->

<!-- <div><select name="" id=""><option value="" *ngFor="let c of MyCountries">{{c.name}}</option></select></div>
<ul><li *ngFor="let c of MyCountries">{{c.name}}</li></ul> -->

<div style="display:flex;flex-wrap: wrap;">
  <country *ngFor="let c of MyCountries" [name]="c.name" [flag]="c.flag" [population]="c.population" [capital]="c.capital" ></country>
</div>


